#review_text {
    resize:none;
}
.btn-default.form-control {
    border: 1px solid black;
}

.purge, .tbl-del, .cuisine-edit, .restaurant-edit {
    float:right;
}

.edit-button, .delete-button {
    float: right;
    margin-left: 1%;
}
td {
    font-size: 16px;
    letter-spacing: 1px;
}
